.authDialog {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .main {
        width: 20%;
        height: 70%;
        background-color: var(--back);
        border-radius: 1.375rem;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        position: relative;

        .form {
            width: 100%;
            height: 70%;
            margin-top: 1rem;
            border-radius: 1.375rem;
            background-color: var(--menu);
            box-shadow: 0px 0px 20px 3px rgba(255, 255, 255, 0.5);
            display: flex;
            flex-direction: column;
            overflow: hidden;

            .top {
                flex: 0.3;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 10px;

                h1 {
                    font-size: 19px;
                    color: #fff;
                }

                h6 {
                    color: var(--txtDark);
                }
                h5 {
                    margin-left: 5px;
                    color: var(--btnBack);
                    cursor: pointer;
                }
            }
            .middle {
                flex: 1;
                display: flex;
                flex-direction: column;
                padding: 0 10px;

                .inpContain {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 10px;
                    margin-bottom: 1rem;
                    padding: 10px;
                    border-radius: 15px;
                    border-width: 2.5px;
                    border-style: solid;
                    border-color: #473f72;
                    overflow: hidden;

                    .inp {
                        width: 100%;
                        height: 100%;
                        color: #fff;
                        background-color: transparent;
                        border: none;
                        outline: none;
                        font-size: 11px;
                    }

                    .icon {
                        font-size: 18px;
                        color: white;
                        margin-top: 5px;
                    }
                }
                .inpContain:focus-within {
                    border-color: var(--btnBack);
                }

                .loginBtn {
                    width: 100%;
                    height: 40px;
                    margin-top: 1rem;
                    overflow: hidden;
                    border-radius: 15px;
                    background-color: var(--btnBack);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    color: #fff;
                    border: none;

                    &:hover {
                        background-color: var(--btnHover);
                    }
                }
                .loginBtn:active {
                    background-color: var(--btnActive);
                }
            }
        }

        .close {
            width: 25px;
            height: 25px;
            color: red;
            border: none;
            transition: color 0.2s ease-in-out;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            position: absolute;
            top: 2rem;
            right: 2rem;
            background-color: transparent;

            &:hover {
                color: rgb(185, 0, 0);
            }

            .closeIcon {
                font-size: 40px;
            }
        }
        .close:active {
            color: rgb(110, 0, 0);
        }
    }
}
